version: '3'

services:
  jekyll:
    image: jekyll/jekyll:latest
    command: sh -c "bundle install && jekyll serve --host 0.0.0.0"
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
